@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Agenda realizada en Asp.Net, utilizando el modelo vista controlador (MVC) algunos componentes de bootstrap y Entity Framework
    para manejar los datos</p>
